<%= render "shared/menu" %>

<section class="customers-list">
  <h2>Customers</h2>
  <div class="new-customer"> <%= link_to "New Customer", new_customer_path %></div>
  <ul class="customers-list">
    <%@customers.each do |customer|%>
      <li class="customer">
        <span><%= customer.first_name %></span>
        <span><%= customer.last_name %></span>
        <span><%= customer.email %></span>
        <span><%= customer.phone_number %></span>
        <span>
          <%= link_to "Details", customer %>
          <%= link_to "Edit", edit_customer_path(customer) %>
          <%= link_to "Delete", customer_path(customer), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
        </span>
      </li>
    <% end %>
  </ul>
</section>

