<%= render "shared/menu" %>

<h2>Customer Details</h2>
<ul class="customer-details">
  <li>
    <strong>First Name:</strong>
    <span><%= @customer.first_name %></span></li>
  <li>
    <strong>Last Name:</strong>
    <span><%= @customer.last_name %></span></li>
  <li>
    <strong>Email:</strong>
    <span><%= @customer.email %></span></li>
  <li>
    <strong>Phone Number:</strong>
    <span><%= @customer.phone_number %></span></li>
</ul>